/* VERDE PADRAO : 1CA095; */
/* VERDE ESCURO : 247770; */
/* VERDER SUPER ESCURO : 044740; */

@media screen and (orientation:landscape) and (min-width:361px) and (max-width:640px) {
	/* ************************* DIV  */
	div.ctncgt-container-linha-botoes div.ctncgt-container-botao{
		float: none;

		text-align: center;
	}

	/* ************************* INPUT  */
	input.ctncgt-campo{
		font-size: 140%;
	}

	input.ctncgt-botao{
		width: 100%;
	}

	/* ************************* LINK  */
	div.ctncgt-container-link a.ctncgt-link{
		font-size: 100%;
		font-weight: 300;
	}

	/* ************************* BUTTON  */
	button.ctncgt-botao{
		width: 100%;
	}

	/* ************************* PAGINA CADASTRO  */
	div.ctncgt-container-dropboxies{
		margin-bottom: 0px;
	}

	div.ctncgt-container-dropboxies div[class*="ctncgt-container-dropbox"]{
		margin-bottom: 20px;
	}

	div.ctncgt-container-dropboxies div[class*="ctncgt-container-dropbox"] select{
		padding-right: 0px;
	}

	div.ctncgt-container-dropboxies div.ctncgt-container-dropbox-dias{
		padding: 0;
	}

	div.ctncgt-container-dropboxies div.ctncgt-container-dropbox-meses{
		padding-right: 0;
	}

	div.ctncgt-container-dropboxies div.ctncgt-container-dropbox-anos{
		padding-right: 0;
	}

	div.ctncgt-container-captcha{
		margin-top: 50px;
	}

	div.ctncgt-texto-recarga{
		text-align: center;
	}

	div.ctncgt-container-captcha div.ctncgt-container-recarrega-captcha div.ctncgt-sub-container-recarrega-captcha{
		padding: 2px 0;
	}

	div.ctncgt-texto-recarga a.ctncgt-botao-link{
		display: block;
	}

	div.ctncgt-container-termos a.ctncgt-botao-link{
		display: block;
	}

	div.ctncgt-container-termos{
		text-align: center;
	}

	div.ctncgt-container-termos label{
		font-size: 130%;
	}

	/* ************************* MENSAGENS  */
	div.ctncgt-container-mensagem div.ctncgt-mensagem-texto{
		text-align: center;
	}

	div.ctncgt-container-mensagem div.ctncgt-mensagem-fechar{
		padding-left: 0;
	}
}