/* VERDE PADRAO : 1CA095; */
/* VERDE ESCURO : 247770; */
body {
	margin: 0;
	padding: 0;

	background-color: #1CA095;
}

div.ctncgt-container-cabecalho {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;

	border-bottom: 1px solid #FFF;
}

div.ctncgt-container-cabecalho img {
	margin: 0 auto;
}