/* VERDE PADRAO : 1CA095; */
/* VERDE ESCURO : 247770; */

/* ************************* DIV  */
div#ctncgt-elemento-mascara{
	display: none;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: auto;

	background-color: #000;

	opacity: 0.45;

	z-index: 100;
}

div#ctncgt-elemento-modal{
	display: none;
	position: absolute;
	top: 0;
	left: 0;

	color: #000;
	background-color: #FFF;

	border: 1px solid #DCDCDC;
    border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

    width: 90%;

    margin-top: 10%;
    margin-left: 5%;

    padding: 10px;

    box-shadow: 0px 0px 10px #DCDCDC;

	z-index: 110;
}

div#ctncgt-elemento-modal div.ctncgt-elemento-modal-container-titulo{
	text-align: left;

	padding-left: 0px;
	padding-right: 0px;
}

div#ctncgt-elemento-modal div.ctncgt-elemento-modal-container-fechar{
	text-align: right;

	padding-left: 0px;
	padding-right: 0px;
}

div#ctncgt-elemento-modal div.ctncgt-linha-mensagem{
	margin-top: 6px;
	padding-top: 4px;

	text-align: center;

	border-top: 1px solid #247770;
}

div#ctncgt-elemento-modal div.ctncgt-linha-conteudo{
	margin-top: 6px;
	padding-top: 4px;

	text-align: left;
}

div[id*="ctncgt-elemento-modal"]{
	display: none;
}

/* ************************* SPAN  */
div#ctncgt-elemento-modal span.ctncgt-elemento-modal-titulo{
	color: #247770;

	font-size: 120%;
	font-weight: 600;

	/*text-transform: capitalize;*/
}

div#ctncgt-elemento-modal span.ctncgt-elemento-modal-fechar{
	position: relative;
	top: -4px;

	color: #FFF;
	background-color: #247770;

	padding: 2px 8px 4px 8px;

    font-size: 140%;
    font-weight: 400;

    border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

    cursor: pointer;
}

/* ************************* MODAL SOBRE  */
div.ctncgt-container-modal-sobre{
	text-align: right;

	margin-top: 20px;
}

img.ctncgt-imagem-modal-sobre{
	float: left;

	margin-right: 10px;
	margin-bottom: 10px;
}
