/* VERDE PADRAO : 1CA095; */
/* VERDE ESCURO : 247770; */
/* VERDER SUPER ESCURO : 044740; */

/* ************************* DIV  */
div.ctncgt-container-linha-mensagens{
	margin-top: 10px;
	margin-bottom: 10px;

	padding-left: 15px;
	padding-right: 15px;
}

div.ctncgt-container-mensagem{
	text-align: left;

	margin-left: 0;
	margin-right: 0;
	margin-bottom: 4px;
	padding: 2px 0px 2px 0px;

	background-color: #FFF;

	border: 2px solid #DCDCDC;
	border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.ctncgt-container-mensagem div{
	text-align: left;

	font-size: 110%;
	font-weight: 400;
}

div.ctncgt-container-mensagem div.ctncgt-mensagem-texto{
	padding-left: 8px;
}

div.ctncgt-container-mensagem div.ctncgt-mensagem-texto p{
	margin: 0 0 0 0;
}

div.ctncgt-container-mensagem div.ctncgt-mensagem-fechar{
	padding-right: 0;

	text-align: center;

	cursor: pointer;
}

div.ctncgt-container-mensagem.aviso{
	color: #706C3F;
	border-color: #706C3F;
	background-color: #E7DB9F;
}

div.ctncgt-container-mensagem.erro{
	color: #9F2F24;
	border-color: #9F2F24;
	background-color: #DBB9B8;
}

div.ctncgt-container-mensagem.info{
	color: #124E70;
	border-color: #124E70;
	background-color: #BAD7DD;
}

div.ctncgt-container-mensagem.sucesso{
	color: #456818;
	border-color: #456818;
	background-color: #BEE1B9;
}
