/* VERDE PADRAO : 1CA095; */
/* VERDE ESCURO : 247770; */
/* VERDER SUPER ESCURO : 044740; */

/* ************************* DIV  */
div.ctncgt-container-dropboxies{
	margin-bottom: 20px;

	padding-left: 15px;
	padding-right: 15px;
}

div.ctncgt-container-label-nascimento{
	padding-left: 25px;
	padding-right: 15px;

	margin-bottom: 20px;
}

div.ctncgt-container-captcha{
	margin-top: 30px;
	margin-bottom: 20px;

	padding-left: 15px;
	padding-right: 15px;
}

div.ctncgt-container-captcha div.ctncgt-container-captcha-imagem{
	padding-left: 0;
	padding-right: 8px;
}

div.ctncgt-container-captcha div.ctncgt-container-recarrega-captcha{
	padding: 0;
}

div.ctncgt-container-captcha div.ctncgt-container-recarrega-captcha div.ctncgt-sub-container-recarrega-captcha{
	padding: 6px 0;

	text-align: center;

	border: 1px solid #FFF;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	cursor: pointer;
}

div.ctncgt-container-campo-captcha{
	padding-left: 15px;
	padding-right: 15px;

	margin-bottom: 10px;
}

div.ctncgt-container-termos{
	color: #FFF;

	padding: 4px 0 4px 10px;

	border-radius: 4px;

	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
}

/* ************************* SELECT  */
div.ctncgt-container-dropboxies div[class*="ctncgt-container-dropbox"] select{
	width: 100%;

	background-color: #FFF;

	padding-right: 10px;

	font-size: 120%;
	font-weight: 400;

	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* ************************* IMG  */
div.ctncgt-container-captcha div.ctncgt-container-captcha-imagem img{
	width: 100%;
	height: auto;
}

div.ctncgt-container-captcha div.ctncgt-container-recarrega-captcha div.ctncgt-sub-container-recarrega-captcha img{
	cursor: pointer;
}

/* ************************* INPUT  */
div.ctncgt-container-termos input[type="checkbox"]{
	position: relative;
	top: 2px;
}

/* ************************* SPAN  */
div.ctncgt-container-captcha div.ctncgt-captcha-texto span{
	color: #FFF;
}

div.ctncgt-container-label-nascimento span{
	color: #FFF;

	font-size: 120%;
	font-weight: 600;
}
