/* VERDE PADRAO : 1CA095; */
/* VERDE ESCURO : 247770; */

body{
	font-size: 16px;
}

.ctncgt-escondido{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

/* ************************* DIV  */
div.ctncgt-linha.row{
	margin-left: 0;
	margin-right: 0;
}

div.ctncgt-linha-espacada.row{
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-right: 10px;
}

div.ctncgt-container-logo-fortaleza-inteligente{
	padding-left: 10px;
	padding-right: 10px;
}

div.ctncgt-container-logo-prefeitura{
	padding-left: 0;
	padding-right: 0;
}

div.ctncgt-container-logo-wifi{
	padding-left: 0;
	padding-right: 0;
}

div.ctncgt-container-central{
	display: block;

	padding-left: 0;
	padding-right: 0;
}

div.ctncgt-container-links div.ctncgt-container-link{
	margin-top: 4px;

	text-align: right;
}

div.ctncgt-container-campo{
	margin: 0 0 20px 0;
}

div.ctncgt-container-destaque{
	padding-left: 10px;
	padding-right: 10px;

	margin-bottom: 20px;
}

div.ctncgt-container-campo.ctncgt-container-campo-borda-lateral{
	padding: 0 0 0 0;

	background: #FFF;
	background: -moz-linear-gradient(top, #1CA095 0%, #1CA095 70%, #FFFFFF 70%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1CA095), color-stop(70%, #1CA095), color-stop(70%, #FFFFFF), color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top, #1CA095 0%, #1CA095 70%, #FFFFFF 70%, #FFFFFF 100%);
	background: -o-linear-gradient(top, #1CA095 0%, #1CA095 70%, #FFFFFF 70%, #FFFFFF 100%);
	background: -ms-linear-gradient(top, #1CA095 0%, #1CA095 70%, #FFFFFF 70%, #FFFFFF 100%);
	background: linear-gradient(to bottom, #1CA095 0%, #1CA095 70%, #FFFFFF 70%, #FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1CA095', endColorstr='#FFFFFF', GradientType=0 );
}

div.ctncgt-container-campo.ctncgt-container-campo-borda-lateral.ctncgt-campo-obrigatorio{
	background: #F00 !important;
	background: -moz-linear-gradient(top, #1CA095 0%, #1CA095 70%, #FF6666 70%, #FF6666 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1CA095), color-stop(70%, #1CA095), color-stop(70%, #FF6666), color-stop(100%, #FF6666)) !important;
	background: -webkit-linear-gradient(top, #1CA095 0%, #1CA095 70%, #FF6666 70%, #FF6666 100%) !important;
	background: -o-linear-gradient(top, #1CA095 0%, #1CA095 70%, #FF6666 70%, #FF6666 100%) !important;
	background: -ms-linear-gradient(top, #1CA095 0%, #1CA095 70%, #FF6666 70%, #FF6666 100%) !important;
	background: linear-gradient(to bottom, #1CA095 0%, #1CA095 70%, #FF6666 70%, #FF6666 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1CA095', endColorstr='#FF6666', GradientType=0 ) !important;
}

div.ctncgt-container-campo.ctncgt-container-campo-borda-lateral div.ctncgt-espacamento-campo-borda-lateral{
	margin: 0 1px 0 1px;
	padding: 0 0 0 0;

	background-color: #1CA095;
}

div.ctncgt-container-termos-uso{
	color: #FFF;

	margin-left: -40px;
	margin-right: -50px;
}

/* ************************* INPUT  */
input.ctncgt-campo{
	display: block;

	width: 100%;

	margin-bottom: 20px;

	color: #FFF;
	background-color: transparent;

	font-size: 120%;
	font-weight: 600;

	border: none;
	border-bottom: 1px solid #FFF;

	margin: 0 0 0 0;
	padding: 0 4px 0 8px;

	outline: 0;
}

input.ctncgt-botao{
	color: #FFF;
	background-color: #0A5851;

	border: none;

	font-size: 110%;
	font-weight: 600;

	padding: 6px 36px;
}

input.ctncgt-botao:HOVER{
	background-color: #044740;
}

input.ctncgt-campo:FOCUS{
	outline: 0;
}

::-webkit-input-placeholder {
   color: #FFF;
}

::-moz-placeholder {
   color: #FFF;  
}

::-moz-placeholder {
   color: #FFF;  
}

::-ms-input-placeholder {
   color: #FFF;  
}

input.ctncgt-campo-lower{
	text-transform: lowercase;
}

/* ************************* BUTTON  */
button.ctncgt-botao{
	color: #FFF;
	background-color: #0A5851;

	border: none;

	font-size: 110%;
	font-weight: 600;

	padding: 6px 36px;
}

button.ctncgt-botao:HOVER{
	background-color: #044740;
}

/* ************************* SPAN  */
div.ctncgt-container-destaque div.ctncgt-destaque span{
	color: #FFF;

	font-size: 120%;
	font-weight: 400;
}

/* ************************* LINK  */
a.ctncgt-botao{
	display: block;

	margin: 0 0 0 0;
	padding: 6px 10px 6px 10px;

	color: #FFF;
	background-color: #247770;

	border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	text-decoration: none;
}

a.ctncgt-botao:HOVER{
	color: #247770;
	background-color: #FFF;

	text-decoration: none;

	cursor: pointer;
}

a.ctncgt-botao-link{
	margin: 0 0 0 0;
	padding: 2px 14px 2px 10px;

	color: #FFF;
	background-color: #247770;

	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	text-decoration: none;
}

a.ctncgt-botao-link:HOVER{
	color: #247770;
	background-color: #FFF;

	text-decoration: none;

	cursor: pointer;
}

div.ctncgt-container-link a.ctncgt-link{
	color: #FFF;

	font-size: 120%;
	font-weight: 400;

	text-decoration: underline;
}
