/* VERDE PADRAO : 1CA095; */
/* VERDE ESCURO : 247770; */
/* VERDER SUPER ESCURO : 044740; */

/* ************************* DIV  */
div.centro .row {
	margin: 0;
}

div.ctncgt-container-linha-formulario{
	padding-left: 15px;
	padding-right: 15px;
}

div.ctncgt-container-formulario div.ctncgt-container-linha-botoes{
	margin-top: 20px;
	margin-bottom: 10px;

	padding-left: 15px;
	padding-right: 15px;
}

div.ctncgt-container-linha-botoes div.ctncgt-container-botao{
	float: right;
}

div.ctncgt-container-formulario div.ctncgt-container-links{
	margin-top: 20px;
	margin-bottom: 26px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* ************************* HR  */
hr.separador_input{
	margin: 0 auto;
	width: 95%;
}
