/* VERDE PADRAO : 1CA095; */
/* VERDE ESCURO : 247770; */

/* ************************* DIV  */
div.ctncgt-container-linha-menu{
	margin-bottom: 10px;

	padding-left: 15px;
	padding-right: 15px;
}

div.ctncgt-container-idiomas{
	background-color: #247770;

	border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	padding: 4px 10px 4px 10px;
}

/* ************************* IMG  */
div.ctncgt-container-idiomas img{
	margin: 0px 10px 0px 0px;
	padding: 2px 2px 2px 2px;

	width: 36px;
	height: 36px;

	border: 1px solid transparent;
	border-radius: 36px;
	-o-border-radius: 36px;
	-ms-border-radius: 36px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;

	cursor: pointer;
}

div.ctncgt-container-idiomas img.ctncgt-idioma-detacado{
	background-color: #FFF;
}

div.ctncgt-container-idiomas img:HOVER{
	border-color: #FFF;
}

/* ************************* A  */
div.ctncgt-container-linha-menu div.ctncgt-container-sobre a{
	border: 1px solid transparent;
}

div.ctncgt-container-linha-menu div.ctncgt-container-idioma a{
	border: 1px solid transparent;
}

div.ctncgt-container-linha-menu div.ctncgt-container-idioma a.ctncgt-botao-idioma-destacado{
	position: relative;
	z-index: 10;

	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: none;

	border-radius: 6px 6px 0 0;
	-o-border-radius: 6px 6px 0 0;
	-ms-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}
